<!DOCTYPE html>
<html class="no-js loading">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.meta }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <!-- endbuild -->

    <!-- build:js(app) /js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <script src="//use.typekit.net/xbu1ywj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  </head>
  <body class="{{ page.slug }}">
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
        {% include header.html %}

        <main>
           {{ content }}
        </main>
    </div>

    

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
