
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix");
  src:url("/fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix") format("eot"),url("/fonts/5f644ac3-aa3c-43a7-ae6e-79075f4766df.woff") format("woff"),url("/fonts/88228648-8c26-4d51-a51b-f92564a92392.ttf") format("truetype"),url("/fonts/24bd485c-6511-4e93-91d9-4764d66fc2df.svg#24bd485c-6511-4e93-91d9-4764d66fc2df") format("svg");
  font-weight: 400;
  font-style: 45 Light;
}
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix");
  src:url("/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix") format("eot"),url("/fonts/9dc6c76b-0260-4292-af1d-0bc9eecbded2.woff") format("woff"),url("/fonts/ed18aa48-557e-4d1f-a53c-58399a7c1bc4.ttf") format("truetype"),url("/fonts/5b9068b3-d518-4b0a-a5a2-1aa25714df22.svg#5b9068b3-d518-4b0a-a5a2-1aa25714df22") format("svg");
  font-weight: 500;
  font-style: 55 Roman;
}
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix");
  src:url("/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix") format("eot"),url("/fonts/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff") format("woff"),url("/fonts/7dcf6c37-4fb4-4211-9808-6a39bfa89e0d.ttf") format("truetype"),url("/fonts/1baaf9ba-feec-45ca-a826-7bcf9f8e5b21.svg#1baaf9ba-feec-45ca-a826-7bcf9f8e5b21") format("svg");
  font-weight: 600;
  font-style: 65 Medium;
}
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Neue Haas Grotesk";
  src:url("/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix");
  src:url("/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot"),url("/fonts/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff") format("woff"),url("/fonts/0deba34f-9242-462b-a359-74e95714f821.ttf") format("truetype"),url("/fonts/31c5f190-f4d8-436b-99bf-0561dd448586.svg#31c5f190-f4d8-436b-99bf-0561dd448586") format("svg");
  font-weight: 700;
  font-style: 75 Bold;
}
