//  8888888 888b     d888 8888888b.   .d88888b.  8888888b. 88888888888 .d8888b.
//    888   8888b   d8888 888   Y88b d88P" "Y88b 888   Y88b    888    d88P  Y88b
//    888   88888b.d88888 888    888 888     888 888    888    888    Y88b.
//    888   888Y88888P888 888   d88P 888     888 888   d88P    888     "Y888b.
//    888   888 Y888P 888 8888888P"  888     888 8888888P"     888        "Y88b.
//    888   888  Y8P  888 888        888     888 888 T88b      888          "888
//    888   888   "   888 888        Y88b. .d88P 888  T88b     888    Y88b  d88P
//  8888888 888       888 888         "Y88888P"  888   T88b    888     "Y8888P"

    @import "normalize";
    @import "variables";
    @import "base";
    @import "case-study_base";

//  888     888     d8888 8888888b.  8888888        d8888 888888b.   888      8888888888 .d8888b.
//  888     888    d88888 888   Y88b   888         d88888 888  "88b  888      888       d88P  Y88b
//  888     888   d88P888 888    888   888        d88P888 888  .88P  888      888       Y88b.
//  Y88b   d88P  d88P 888 888   d88P   888       d88P 888 8888888K.  888      8888888    "Y888b.
//   Y88b d88P  d88P  888 8888888P"    888      d88P  888 888  "Y88b 888      888           "Y88b.
//    Y88o88P  d88P   888 888 T88b     888     d88P   888 888    888 888      888             "888
//     Y888P  d8888888888 888  T88b    888    d8888888888 888   d88P 888      888       Y88b  d88P
//      Y8P  d88P     888 888   T88b 8888888 d88P     888 8888888P"  88888888 8888888888 "Y8888P"

    // Colors
    // --------------------------------------------------
    $gray: #f7f7f5;
    $gray_dark: #545454;
    $blue: #dae4eb;
    $blue_alt: #5c8aae;
    $blue_dark: #2a617a;
    $tan: #f2edea;



//  888888b.         d8888  .d8888b.  8888888888
//  888  "88b       d88888 d88P  Y88b 888
//  888  .88P      d88P888 Y88b.      888
//  8888888K.     d88P 888  "Y888b.   8888888
//  888  "Y88b   d88P  888     "Y88b. 888
//  888    888  d88P   888       "888 888
//  888   d88P d8888888888 Y88b  d88P 888
//  8888888P" d88P     888  "Y8888P"  8888888888

    * {
      box-sizing: border-box;
    }

    body {
        background: fixed top center $gray;
        font-family: $serif;
    }

    img {
        max-width: 100%;
    }

    p {
        color: $gray_dark;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.5;

        @include media-min-small {
            font-size: 1.6rem;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }


//  888b     d888  .d88888b.  8888888b.  888     888 888      8888888888 .d8888b.
//  8888b   d8888 d88P" "Y88b 888  "Y88b 888     888 888      888       d88P  Y88b
//  88888b.d88888 888     888 888    888 888     888 888      888       Y88b.
//  888Y88888P888 888     888 888    888 888     888 888      8888888    "Y888b.
//  888 Y888P 888 888     888 888    888 888     888 888      888           "Y88b.
//  888  Y8P  888 888     888 888    888 888     888 888      888             "888
//  888   "   888 Y88b. .d88P 888  .d88P Y88b. .d88P 888      888       Y88b  d88P
//  888       888  "Y88888P"  8888888P"   "Y88888P"  88888888 8888888888 "Y8888P"

    // Header
    // --------------------------------------------------
    .banner {
        background: transparent;
        position: absolute;
    }

    #hero {
        background: url('/img/oca/bg-hero.jpg') top center / 110% no-repeat;
        padding: 70px 30px;

        @include media-min-medium {
            padding: 120px 0;
        }

        .container {
            @include media-min-medium {
                margin-bottom: 120px;
            }
        }

        .brand {
            height: 275px;
            margin: 0 auto;
            display: block;
        }

        h1 {
            font-weight: 300;
            color: $gray_dark;
            font-size: 1.25rem;
            text-align: left;
            margin: 30px 0;

            @include media-min-smaller {
                text-align: center;
            }

            @include media-min-small {
                max-width: 550px;
                margin: 50px auto;
            }

            @include media-min-medium {
                font-size: 1.8rem;
                max-width: 850px;
            }


            strong {
                font-weight: 600;
            }
        }

        .site {
            display: inline-block;
            margin: 0 -15px 50px;

            @include media-min-small {
                margin: 0 0 100px;
            }

            @include media-min-medium {
                margin: 0 auto 100px;
                @include horizontal-center;
                position: relative;
            }
        }
    }

    //  =============================================================================
    //  Sections
    //  =============================================================================

    section {
        padding: 30px;
        position: relative;
        overflow: hidden;

        @include media-min-smaller {
            padding: 60px;
        }
    }

    // Quote
    // --------------------------------------------------
    .quote {
        background: $blue;
        margin: 0;
        padding: 30px;
        text-align: center;

        @include media-min-small {
            padding: 60px;
        }

        @include media-min-medium {
            text-align: left;
            padding: 120px 0;
        }

        h2 {
            text-align: center;
        }

        // .container {
        //     @include media-min-medium {
        //         position: relative;
        //         padding-left: 170px;
        //         max-width: 1000px;
        //         margin: 0 auto;
        //     }
        // }

        // h2 {
        //     color: $black;
        //     font-size: 1.25rem;
        //     font-weight: 700;
        //     font-family: $serif;
        //     font-style: italic;

        //     @include media-min-small {
        //         font-size: 1.8rem;
        //     }

        //     @include media-min-medium {
        //         padding-top: 25px;
        //         position: relative;

        //         &:after {
        //             content: '';
        //             position: absolute;
        //             left: -125px;
        //             height: 3px;
        //             width: 100px;
        //             background: $black;
        //             bottom: 18px;
        //         }
        //     }
        // }

        // p {
        //     color: $blue_dark;
        //     font-size: 1.25rem;

        //     @include media-min-small {
        //         font-size: 1.6rem;
        //     }
        // }

        // footer {
        //     color: $gray_dark;
        //     font-family: $sans;

        //     @include media-min-medium {
        //         position: absolute;
        //         width: 150px;
        //         top: 0;
        //         left: 0;
        //         text-align: center;
        //     }



        //     img {
        //         border-radius: 50%;
        //         overflow: hidden;


        //     }

        //     .name {
        //         font-weight: 600;
        //         font-size: 1.1em;
        //     }

        //     .title {
        //         font-size: 0.9em;
        //     }

        // }
    }

    #cathedral {
        background: url(/img/oca/cathedral.jpg) top center / 110%;
        width: 100%;
        height: 110vh;
    }

    // Design
    // --------------------------------------------------
    #design {
        p {
            margin: 50px auto;

            @include media-min-medium {
                margin: 100px auto;
            }
        }

        img {
            @include horizontal-center;
            position: relative;
        }
    }

    // Patterns
    // --------------------------------------------------
    #patterns {
        display: none;

        @include media-min-small {
            background: $white;
            display: block;

            img {
                width: 100%;
            }
        }
    }

    // Testimonial
    // --------------------------------------------------
    .testimonial {
        background: $blue_alt;

        p {
            color: $white;
            line-height: 1.8;
            text-align: left;

            @include media-min-medium {
                font-size: 1.4rem;
                max-width: 825px;
                margin-left: auto;
                margin-right: auto;
                text-align: left;
            }

            strong {
                font-weight: 500;
            }

            &:before, &:after {
                color: $white;
            }
        }

        footer {
            color: $white;
        }
    }

    // Visit
    // --------------------------------------------------
    #visit {
        background: url('/img/oca/bg-footer.jpg') center center / cover;
        text-align: center;

        @include media-min-small {
            padding: 0;
            overflow: visible;
            height: 400px;
            z-index: 10;
        }

        .container {
            @include media-min-medium {
                position: relative;
                width: 1000px;
                margin: 0 auto;
                height: 400px;
            }
        }

        p {
            font-style: italic;
            text-align: left;

            @include media-min-small {
                font-size: 1.2rem;
            }

            @include media-min-medium {
                margin-bottom: 40px;
            }
        }

        .button {
            display: inline-block;
            background: $white;
            color: $blue_alt;
            padding: 20px 30px;
            box-shadow: 0 0 5px rgba(black, 0.2);
            text-decoration: none;
            font-size: 1.2rem;
            border: 2px solid darken($gray, 30%);
        }

        img {
            display: block;
            margin: 30px auto -30px;

            @include media-min-smaller {
                margin-bottom: -60px;
            }

            @include media-min-small {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 0;
                height: 120%;
            }
        }

        .content {
            @include media-min-small {
                position: absolute;
                left: 0;
                top: 0;
                padding: 50px;
                z-index: 2;
                width: 70%;
                text-align: left;
            }
        }
    }